body {
  text-align: center;
  font-family: sans-serif;
  background: #1a1922;
}

canvas {
  image-rendering: pixelated;
  border: 1px solid #000;
  cursor: crosshair;
  background: #fff;
}

#palette {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  background: #1a1922;
  padding: 10px;
  border-radius: 10px;
   box-shadow: 0 0 20px #030303;
}

.color-btn {
  width: 30px;
  height: 30px;
  border: 2px solid #d8d8d8;
  cursor: pointer;
  margin: 2px;
  display: inline-block;
}

h1{
    color: #d8d8d8;
}

.color-btn.selected {
  border: 2px solid #000000; /* Borda dourada na cor selecionada */
}
